export SENDGRID_API_KEY='Super secret SendGrid key'

export TWILIO_ACCOUNT_SID='Twilio AccountSID'
export TWILIO_AUTH_TOKEN='Twilio AuthToken'

export TWILIO_FROM_PHONE_NUMBER='+15554441234'
export WATER_TO_PHONE_NUMBER='+15559994321'

export WATER_FROM_EMAIL='water_manager@example.com'
export WATER_TO_EMAIL='water_scared@example.com'

export WATER_PIN='3'
